.card_style {
    margin-bottom: 30px;
    color: red;
    height: 90%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}



.txtboxes {
    width: 340px;
    font-size: 17px;
    color: "red";
  }


.imagestyle {
    height:250;
    width:400;
    border-radius: 15px;
  }

.card-container{
  
  width: 400px;
  height: 400px;
  min-height: 400px;
}


